<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>One Music</title>
  <link rel="stylesheet" href="../results.css">
</head>

<body>
  <!-- Essentially, our aim is to have the source for iframes as per the data fetched using API calls.-->

  <h3>Listen (Spotify)</h3>
  <!-- Track 00, Album 00_00, Artist 00_00, 00_01 (if exists, else hidden), Track 01, 02, 03  -->
  <% let i = 0 %>

  <!-- 0 Track 00 -->
  <iframe src="https://open.spotify.com/embed/track/<%= spotifyTrackIdEjs[0] %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

  <!-- 0 Track 00 Album 00 -->
  <iframe src="https://open.spotify.com/embed/album/<%= spotifyAlbumIdUniqueEjs[0] %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

  <!-- 0 Track 00 Artist 00-->
  <iframe src="https://open.spotify.com/embed/artist/<%= spotifyTrackArtistIdUniqueEjs[0] %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

  <!-- Track 01, 02, 03 -->
  <% for(i = 1; i < spotifyTrackIdEjs.length; i++) { %>
  <iframe src="https://open.spotify.com/embed/track/<%= spotifyTrackIdEjs[i] %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <% } %>

  <h3>Watch (YouTube)</h3>
  <!-- Top 4 Videos -->

  <!-- We are putting greater than '2' in the following 'if', because both the Artist ID arrays contains atleast one element, even if its value is null. -->
  <% if (((spotifyTrackArtistIdUniqueEjs.length) + (spotifyQueryArtistIdEjs.length)) > 2 && spotifyQueryArtistIdEjs != null) { %>
    <h3>Artists</h3>

    <!-- Showcasing all the next artists of Track 00 (if exists), all artists of Track 01 and Track 02.  -->
    <% for(i = 1; i < spotifyTrackArtistIdUniqueEjs.length; i++) { %>
      <iframe src="https://open.spotify.com/embed/artist/<%= spotifyTrackArtistIdUniqueEjs[i] %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <% } %>

    <!-- Showcasing 4 artists that match queryValue. -->
    <% for(i = 0; i < spotifyQueryArtistIdEjs.length; i++) { %>
      <iframe src="https://open.spotify.com/embed/artist/<%= spotifyQueryArtistIdEjs[i] %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <% } %>
  <% } %>


  <h3>Albums</h3>
  <% console.log("Dfgdgdfg: " + spotifyAlbumIdUniqueEjs); %>
  <% for (i = 1; i < spotifyAlbumIdUniqueEjs.length; i++) { %>
  <iframe src="https://open.spotify.com/embed/album/<%= spotifyAlbumIdUniqueEjs[i] %>" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  <% } %>

  <h3>Live Performance</h3>
  <!-- Top 4 performances. -->



  <h3>Cover</h3>
  <!-- Top 5 covers (Smaller sized iFrame than 'Watch') -->

</body>

</html>
